<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="#">Time Recorder</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main row-fluid">
    <div class="span2">
        some text
    </div>
    <div id="ftime-app" class="span7">
        <h2> 时间是最宝贵的财富</h2>
        <span class="start-time"></span><br/>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="project">Project</label>
                <div class="controls">
                    <input name="project" type="text" class="input-xlarge project" valu=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="note">Note</label>
                <div class="controls">
                    <textarea name="note" class="input-xlarge note" value=""></textarea> 
                </div>
            </div>
            <div class="form-actions">
                <a class="btn stop-time"><i class="icon-stop icon-black"></i>Stop</a>
            </div>
        </form>
        <div id="today-time-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="time">Time</th>
                        <th class="project">Project</th>
                        <th class="description">Description</th>
                        <th class="fragment">Time(min)</th>
                    </tr>
                </thead>
                <tbody class="time-fragment-list">
                </tbody>
            </table>
        </div>
    </div>
</div>

